[submodule "external/jquery-ui"]
	path = external/jquery-ui
	url = https://github.com/jquery/jquery-ui.git
	ignore = dirty
[submodule "external/jquery"]
	path = external/jquery
	url = https://github.com/jquery/jquery.git
	ignore = dirty
[submodule "external/qunit"]
	path = external/qunit
	url = https://github.com/jquery/qunit.git
	ignore = dirty
[submodule "external/jshint"]
	path = external/jshint
	url = https://github.com/jshint/jshint.git
	ignore = dirty
[submodule "external/SyntaxHighlighter"]
	path = external/SyntaxHighlighter
	url = https://github.com/alexgorbatchev/SyntaxHighlighter.git
	ignore = dirty
