/*
** stylesheet for Widget uxTextbox v.1.1.0
** updated 2013.06.17
** develop by evo2mind
*/


.ux-textbox {

}

.ux-textbox .ux-widget-wrapper-input {
    float: none!important;
    overflow: hidden;
    position: relative;
    display: block;
    height: 100%;
    vertical-align: bottom;
    padding: 0 2px 0 8px;
}

.ux-textbox .ux-widget-input {
    margin: 1px 0 0 0;
    padding: 0;
    border: 0;
    background: none;
    line-height: 18px!important;
    height: 18px !important;
    width: 100%;
    vertical-align: baseline;
}

.ux-textbox .ux-widget-input:focus {
    outline: none;
}

.ux-textbox .ux-widget-wrapper-info {
    display: inline-block;
    height: 20px;
    width: 18px;
    display: table-cell;
    vertical-align: middle;
    float: right;
}

.ux-textbox .ux-widget-wrapper-info .ui-icon {
    margin: auto;
}

.ux-textbox .ux-widget-wrapper-error,
.ux-textbox .ux-widget-wrapper-validated{
    float: right;
    height: 100%;
    display: none;
}

.ux-textbox .ux-widget-wrapper-error .ui-icon,
.ux-textbox .ux-widget-wrapper-validated .ui-icon {
    height: 100%;
}

.ux-textbox.ui-state-error .ux-widget-wrapper-error,
.ux-textbox.ui-state-highlight .ux-widget-wrapper-validated{
    display: inline-block;
    border: none;
    width: 18px;
}

.ux-textbox.ui-state-error
.ux-widget-wrapper-input{
    padding: 0 0 0 8px;
}

.ux-textbox.ui-state-error .ux-widget-wrapper-info,
.ux-textbox.ui-state-highlight .ux-widget-wrapper-info{
    display: none;
}

.ux-textbox.ui-state-highlight .ux-widget-wrapper-validated{
    display: block;
}

.ux-textbox .ux-widget-inline-label {
    position:absolute;
    left: 8px; 
    top: 2px;
    height: 20px;
    color: #aaaaaa;
    font-style: italic;
}

.ux-textbox .ux-widget-wrapper-info .ui-icon{
    margin: 2px auto;
}

.ux-textbox .ux-widget-wrapper-error .ui-icon,
.ux-textbox .ux-widget-wrapper-validated .ui-icon{
    margin: 1px auto;
}

