/*
** stylesheet for Widget uxLookup v.1.1.0
** updated 2013.05.22 
** develop by evo2mind
**
**  Depends:
**      uxframework.widget.uxtextbox.css
*/


.ux-lookup .ux-widget-button-select{
    float: right;
    height: 100%;
    border: none!important;
    width: 18px;
}

.ux-lookup .ux-widget-button-select a
{
    border: none!important;
    height: 100%;
    width: 18px;
    border-radius: 0;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.ux-lookup .ux-widget-hidden-input {
    display: none;
}

